.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    background-color: #ffe6ff; /* Light pink background */
  }
  
  .center {
    text-align: center;
    padding: 0 20px; /* Add some padding to center content on smaller screens */
  }
  
  .header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px; /* Add margin between the header and the image */
    color: #ff1493; /* Deep pink text color */
  }
  
  .bear-img, .heart-img {
    height: auto; /* Make the images responsive */
    max-width: 100%; /* Ensure the images don't overflow their containers */
    height: 400px; /* Set a fixed height for the images */
  }
  
  .love-message {
    font-size: 18px;
    color: #ff1493; /* Deep pink text color */
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .yes-button, .no-button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .yes-button {
    background-color: #ff69b4; /* Hot pink button color */
    color: white;
  }
  
  .yes-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .no-button {
    background-color: #ff6347; /* Tomato button color */
    color: white;
  }
  
  .no-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Media query for mobile screens */
  @media only screen and (max-width: 600px) {
    .header {
      font-size: 24px;
    }
  
    .love-message {
      font-size: 16px;
    }
  
    .yes-button, .no-button {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  